.spacer {
    flex: 1;
}

.modalFooter {
    display: flex;
    flex-direction: row;
}

.testStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 18px;
}

.datasetsCountAlert {
    margin-bottom: 20px;
}