.datasetSelector {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
}

.selectorButtons>* {
    margin: 10px;
}

.selectorButtons {
    max-width: 200px;
}

.selector {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.datasource {
    margin-left: 32px;
    display: flex;
    /* flex: 1; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

/* .datasource>* {
    width: 200px;
    display: block !important
} */

.connectionSelect {
    position: relative;
    z-index: 10;
    width: 270px;
}

.connectionEditButton {
    position: relative;
    left: -3px;
    box-shadow: none !important;
    border: none !important;
    /* border-left: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important; */
}

.status {
    min-height: 60px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(217, 217, 217);
    background-color: #F7F7F7;
    align-items: center;
    justify-content: center;
}

.spacer {
    flex: 1;
}

.modalFooter {
    display: flex;
    flex-direction: row;
}