.grantScopesPage {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
}

.body {
    padding: 20px;
    display: flex;
    flex: 1;
    overflow: scroll;
    align-items: center;
    flex-direction: column;
}

.body p {
    max-width: 500px;
}