.buttons {
    flex: 1;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.middle {
    position: absolute;
    left: 250px;
    width: calc(100% - 2*305px);
}

.titleWrap {
    width: 100%;
    height: 45px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.left {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.workspace {
    text-align: center;
    margin-left: 10px;
    background: rgb(15, 150, 104);
    font-size: 0.8em;
    display: absolute;
    bottom: 0;
    border-radius: 3px;
}

.workspaceButton > span {
    color: white!important;
    font-size: 0.8em;
}

.playgroundButton > span {
    color: #2B323B!important;
    font-size: 0.8em;
}

.playgroundTooltip div {
    padding: 7px;
}
.playgroundTooltip {
    font-size: 0.8em;
}

.playground {
    text-align: center;
    margin-left: 10px;
    background: rgb(87, 183, 211);
    font-size: 0.8em;
    display: absolute;
    bottom: 0;
    border-radius: 3px;
}

.header {
    padding: 5px 10px 5px 0px;
    background: linear-gradient(180deg, #2B323B 70%, #25272F 100%);
}

.buttonDivider {
    border-left: rgba(255, 255, 255, 0.35) 1px solid;
}
.user {
    padding: 0px 0px 0px 10px;
    margin-left: 10px;
    margin-top: 7px;
}

.user > :global(.ant-avatar) {
    background-color: rgb(87, 183, 211);
    cursor: default;
    user-select: none;
}

.userDropdown :global(li.ant-dropdown-menu-item-disabled) {
    cursor: default!important;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}

.dekartLinkHolder {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title {
    width: 100%;
    margin-top: 0px;
    padding-bottom: 0px;
}

a.dekartLink {
    display: block;
    width: 76px;
    height: 18px;
}
.dekartTitle {
    width: 76px;
    height: 18px;
    display: block;
    background-size: contain;
    background-image: url('./dekart-title.svg');
    background-repeat: no-repeat;
}