.buttons {
    flex: 1;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.middle {
    position: absolute;
    left: calc(50% - 50px);
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    padding: 5px 10px 5px 10px;
    background: linear-gradient(180deg, #2B323B 70%, #25272F 100%);
}

.user {
    padding: 0px 0px 0px 10px;
    border-left: rgba(255, 255, 255, 0.35) 1px solid;
    margin-left: 10px;
    margin-top: 7px;
}

.user > :global(.ant-avatar) {
    background-color: rgb(87, 183, 211);
    cursor: default;
    user-select: none;
}

.userDropdown :global(li.ant-dropdown-menu-item-disabled) {
    cursor: default!important;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}

.dekartLinkHolder {
    height: 46px;
    display: flex;
    align-items: center;
}

.title {
    width: 100%;
    margin-top: 0px;
    padding-bottom: 0px;
}

a.dekartLink {
    color: #57B7D3 !important;
    font-size: 22px;
    font-weight: bold;
    line-height: 32px;
    cursor: pointer;
}