.homePage {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
}

.body {
    padding: 20px;
    display: flex;
    flex: 1;
    overflow: scroll;
    align-items: center;
    flex-direction: column;
}

.dataDocs {
    display: block;
}

.deleteColumn {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 300px;
    text-align: right;

}

.reportsRow .deleteButton {
    opacity: 0;
    pointer-events: none;
}

.reportsRow:hover .deleteButton {
    opacity: 1;
    pointer-events: all;
}

.titleColumn {
    width: 600px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.reports {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
}

.headerButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.reportsHeader {
    flex: 1;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.archivedSwitchLabel {
    margin-right: 10px;
}

.archivedSwitch {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.newReleaseTitle {
    font-size: 18px;
    margin-bottom: 10px;
}

.newReleaseIcon {
    color: #57B7D3 !important;
    font-size: 42px;
    position: absolute;
    left: 20px;
}

.authorColumn {
    font-size: 0.9em;
    opacity: 0.7;
    width: 300px;
    text-align: right;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.newRelease {
    background-color: white;
    width: 900px;
    padding: 20px;
    padding-left: 82px;
    margin-bottom: 40px;
    position: relative;
    box-shadow: 0 5px 9px -1px #B1EDFF;
}

.onboarding {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border: 1px solid #F0F0F0;
}

.onboardingIcon {
    font-size: 42px;
    color: white;
    background-color: #349DFE;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.onboardingSteps {
    opacity: 0.7;
}

.onboardingTitle {
    font-size: 24px;
    margin-bottom: 10px;
}

.reportsHeaderTitle {
    font-size: 24px;
}