.inviteUsers {
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.inviteUsersInput {
    width: calc(100% - 350px)!important;
}

.inviteUsersButton {
    width: 100px;
}

.teamTab {
    min-width: 700px;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.removeButtonColumn {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 300px;
    text-align: right;

}

.emailColumn {
    width: 100%;
}

.inviteButton {
    color: #888;

}

.invitesTabName + span {
    margin-left: 5px;
}
