.newReleaseTitle {
    font-size: 18px;
    margin-bottom: 10px;
}

.newReleaseIcon {
    color: #57B7D3 !important;
    font-size: 42px;
    position: absolute;
    left: 20px;
}

.newRelease {
    background-color: white;
    width: 900px;
    padding: 20px;
    padding-left: 82px;
    margin-bottom: 40px;
    position: relative;
    box-shadow: 0 5px 9px -1px #B1EDFF;
}