.onboarding {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border: 1px solid #F0F0F0;
}

.onboardingIcon {
    font-size: 42px;
    color: white;
    background-color: #349DFE;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.onboardingSteps {
    opacity: 0.7;
}

.onboardingTitle {
    font-size: 24px;
    margin-bottom: 10px;
}

