.query {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
}

.editor {
    flex: 1;
}

.editor :global .ace_content,
.editor :global .ace_gutter {
    /* background-color: #F7F7F7!important; */
    background-color: white !important;
}

.editor :global .ace_gutter-active-line.ace_gutter-cell {
    background-color: #EDEDED !important;
}

.status {
    word-break: break-all;
}

.playgroundWarning p {
    padding-left: 18px;
    word-break: normal;

}
.playgroundWarning{
    padding: 10px 0;
    margin-left: 10px;
    font-size: 0.8em;
}
.errorInfoHtml {
    margin-left: 28px;
    padding: 10px 0;
}

.status {
    flex: 1;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    min-height: 40px;
}

.statusHead {
    flex: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
}

.button {
    margin-left: 10px;
}

.icon {
    font-size: 18px;
    margin-right: 10px;
}

.spacer {
    flex: 1;
}

.tooltip {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.message {
    font-size: 1.1em;
    white-space: nowrap;
    position: relative;
    z-index: 11;
}

.queryStatus {
    padding: 10px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(217, 217, 217);
}

.success {
    background-color: #F6FFED;
    border-top-color: #B7EB8F;
}

.error {
    background-color: #FFF2F0;
    border-top-color: #FFCCC7;
}

.errorMessage {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 0.85em;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding: 12px 16px;
    position: relative;
    min-height: 60px;
    z-index: 10;
}

.messageInline {
    background-color: #ffd6d2;
    padding: 1px 4px;
    border-radius: 4px;
    border: 1px solid #ffccc7;
}

.errorMessageContent {
    padding-right: 15px;
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 1.5;
    color: #262626;
    margin-bottom: 0;
    max-height: 100px;
    overflow-y: auto;
}

.copyErrorButton {
    position: absolute!important;
    top: 5px;
    right: 5px;
    z-index: 100;
}

.jobTimer {
    margin-right: 10px;
}

.dataDoc {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
}

.sampleQuery {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
}