.report {
    min-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.titleInput::placeholder {
    color: white!important;
    opacity: 0.7;
}
.title .titleInput {
    color: white;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
}

.titleText {
    color: white;
    display: block;
    font-size: 16px;
    padding: 5px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titleEditIcon {
    opacity: 0;
    color: white;
    font-size: 0.8em;
}

.titleTextEdit .titleEditIcon {
    opacity: 0.4;
}

.titleTextEdit {
    cursor: pointer;
}

.title {
    width: calc(100% - 700px);
    min-width: 400px;
    text-align: center;
    /* flex: 1px; */
}

.body {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.tabs {
    background-color: #EDEDED;
    background-color: #F7F7F7;
}

.tabs :global .ant-tabs-nav {
    margin-bottom: 0!important;
}

.querySection {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.keplerBlock {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.keplerFlex {
    flex: 1;
    position: relative;
    background-color: #15232F;
}

.keplerBlock :global #kepler-gl__kepler .side-panel__header__top {
    display: none;
}

.keplerBlock :global #kepler-gl__kepler .add-data-button {
    display: none;
}

.keplerBlock :global #kepler-gl__kepler .remove-dataset {
    display: none;
}

.keplerBlock :global #kepler-gl__kepler .map-control-button[data-for=locale] {
    display: none;
}

.readOnly span {
    margin-right: 5px;
}
.readOnly {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #6C7483;
    padding-right: 10px;
    font-style: italic;
    vertical-align: middle;
    cursor: pointer;
}

.tabIcon {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 4px;
    margin-right: 8px;
    margin-left: 2px;
    color: #6A7484 !important;
    font-size: 0.9em;
}