.report {
    min-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.titleInput::placeholder {
    color: white!important;
    opacity: 0.7;
}
.titleInput {
    /* background-color: aqua; */
    color: white!important;
}

.headerButtons button {
    margin-left: 10px;
}

.title {
    flex: 1px;
}
.header {
    /* background-color: #25272F; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, #2B323B 70%, #25272F 100%);
}

.body {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.querySection {
    width: 500px;
    display: flex;
}

.keplerBlock {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.keplerFlex {
    flex: 1;
    width: 50%;
    position: relative;
}
