.reportHeaderButtons {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.reportHeaderButtonGroup {
    margin-right: 10px;
}

.reportHeaderButtons button
{
    margin-left: 10px;
}

.reportHeaderButtons :global .ant-btn-icon-only {
    margin-left: 0;
}

.reportHeaderButtons :global .ant-btn-text {
    color: rgba(255, 255, 255, 0.7) !important;
    /* margin-right: 0px; */
}

.reportHeaderButtons :global .ant-btn-text:active,
.reportHeaderButtons :global .ant-btn-text:hover {
    color: #fff !important;
}

.reportViewSelect{
    margin-left: 5px !important;

}

.reportViewSelect :global(.ant-select-selector) {
    background: transparent !important;
    border: 1px solid rgba(255,255,255,0.3);
    color: rgba(255,255,255,0.7);
    box-shadow: none;
    transition: border-color 0.2s;
    border-radius: 4px;
    height: 32px;
    padding: 0 11px;
    display: flex;
    align-items: center;
    /* margin-left: 20px; */
}

.reportViewSelect :global(.ant-select-selector:hover),
.reportViewSelect :global(.ant-select-selector:focus) {
    border-color: #fff;
    color: #fff;
}

.reportViewSelect :global(.ant-select-selection-item) {
    color: inherit;
}

.reportViewSelect :global(.ant-select-arrow) {
    color: rgba(255,255,255,0.7);
}

.reportViewSelect :global(.ant-select-open .ant-select-selector) {
    border-color: #fff;
}

.reportHeaderButtons :global .ant-btn-text:disabled {
    color: rgba(255, 255, 255, 0.5) !important;
}

.shimmerIcon {
    position: relative;
    display: inline-block;
}

.shimmerIcon :global(.anticon) {
    position: relative;
    display: inline-block;
}

.shimmerIcon :global(.anticon svg) {
    fill: currentColor;
    mask-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.6) 10%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0.6)  100%
    );
    mask-size: 200% 100%;
    mask-repeat: repeat-x;
    animation: shimmer-icon 1.5s linear infinite;
    /* This is needed to prevent the shimmer effect from cutting off in Safari */
    transform: translateZ(0);
    overflow: visible;
}

@keyframes shimmer-icon {
    0% {
        mask-position: -200% 0;
    }
    100% {
        mask-position: 200% 0;
    }
}

.hideOnMobile {
    display: flex;
    align-items: center;
}

@media (max-width: 480px) {
    .hideOnMobile {
        display: none;
    }
}