.modalFooter {
    display: flex;
    justify-content: space-between;
}

.modalFooterSmallSpacer {
    width: 10px;
}

.modalFooterSpacer {
    flex: 1;
}

.workspaceStatusSelect {
    min-width: 130px;
}

.statusLabelDescription {
    font-size: 0.8em;
    color: #666;
}

.viewAnalytics {
    font-size: 0.8em;
    margin-top: 5px;
    margin-left: -7px;
}

.workspaceStatusIcon {
    font-size: 1.2em;
    position: relative;
    opacity: 0.65;
    /* top: -0.4em; */
}

.reportStatusIcon {
    font-size: 1.8em;
    position: relative;
    opacity: 0.65;
    top: -0.3em;
}

.reportStatusDetails {
    margin-left: 10px;
}

.workspaceStatusLabel {
    flex: 1;
    font-size: 1.2em;
    margin-left: 10px;
    margin-right: 10px;
}

.boolStatusLabel {
    flex: 1;
    font-size: 1.2em;
    margin-left: 10px;
    margin-right: 10px;
}

.reportStatusDetailsText {
    font-size: 1.2em;
    font-weight: bold;
}

.workspaceStatus {
    border-top: 1px solid #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.boolStatus {
    border-top: 1px solid #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.boolStatusS {
    font-size: 0.9em;
    padding: 20px;
    padding-top: 0px;
    padding-left: 45px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.reportStatus {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.reportAuthStatus {
    font-size: 0.8em;
    margin-top: 10px;
}

.origin {
    font-weight: bold;
}

.authEnabled {
    color: #00b300;
}

.playgroundReportText {
    color: #57B7D3;
}

.boolStatusIcon {
    position: relative;
    top: 2px;
}