.workspacePage {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
}

.demo {
    margin-top: 20px;
}

.body {
    padding: 20px;
    display: flex;
    flex: 1;
    overflow: scroll;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.rocketIcon {
    background-image: url('./rocket.svg');
    display: inline-block;
    width: 64px;
    height: 64px;
}

.workspace {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workspaceTab {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cancelAt {
    margin-top: 10px;
}

.workspaceTabHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.workspaceTabBody {
    width: 100%;
}

.acceptButton {
    margin-right: 10px
}

.inviterEmail {
    opacity: 0.7;
    font-size: 0.8em;
    font-style: italic;
}

.workspaceNameColumn {
    min-width: 400px;
}

.inviteActionsColumn {
    width: 200px;
}

.joinSelect{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.workspaceSteps {
    margin-bottom: 30px;
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.radioCentered {
    display: flex;
    justify-content: center;
}

:global(.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)) .joinRadioItem {
    color: white !important;
}

.notSure {
    border-top: 1px solid rgb(217, 217, 217);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin-top: 40px;
}
.notSureItems {
    text-align: left;
    margin-bottom: 40px;
}